<!-- html form to submit a post-->
<div class="card post-cards">
  <form>
    <div class="card-header">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Title">
        </div>
    </div>
    <div class="card-body"></div>
        <div class="form-group">
            <textarea class="form-control" rows="4" cols="50" placeholder="Post goes here..."></textarea>
        </div>
    </div>
  </form>
</div>