<!-- html form to submit a post-->
<div class="card post-cards">
  <form class="newpost">
    <div>
      <div class="form-group">
          <input type="text" class="form-control" placeholder="Title" id="post-title">
      </div>
    </div>
    <div class="card-body"></div>
      <div class="form-group">
          <textarea class="form-control" rows="4" cols="50" id="post-content" placeholder="Post goes here..."></textarea>
      </div>
    </div>
    <div class="form-group">
      <button class="btn btn-primary submit-btn" type="submit">Submit</button>
    </div>
  </form>
</div>

<script src="/js/newpost.js"></script>