<div class="card post-cards">
  <div class="card-header">
    <span class="post-title">{{post.title}}</span>
    <span class="right-title post-title">Posted by {{post.user.username}} on {{format_date post.createdAt}}</span>
  </div>
  <div class="card-body">
    <p class="card-text">{{post.contents}}</p>
  </div>
</div>