<div class="card post-cards">
  <div class="card-header">
    <span class="post-title">{{post.title}}</span>
    <span class="right-title post-title">Posted by {{post.user.username}} on {{format_date post.createdAt}}</span>
  </div>
  <div class="card-body">
    <p class="card-text">{{post.contents}}</p>
  </div>
</div>
<div>
  <button class="btn btn-primary comment-btn" type="submit">+ Comment</button>
</div>
<div>
  <button class="btn btn-primary update-btn" type="submit">Update Post</button>
</div>
<div class="card post-cards comment-box">
  <form class="newcomment">
    <div class="form-group">
        <textarea class="form-control" rows="4" cols="50" id="comment-content" placeholder="Comment goes here..."></textarea>
    </div>
    <div class="form-group">
      <button class="btn btn-primary commentsubmit-btn" type="submit">Submit</button>
    </div>
  </form>
</div>

<script src="/js/comment.js"></script>